.footer {
	&__container {
		max-width: 45rem;
		margin: 0 auto;
		filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25));
	}
	&__row {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	&__categories {
		padding: 1rem 0 1.5rem 0;
		display: flex;
		justify-content: space-between;
		margin: 0 -1rem;
		color: #6D95FC;
		@media (max-width: 48rem) {
			flex-direction: column;
		}
		li{
			padding: 0 1rem;
			@media (max-width: 48rem) {
				padding: 1rem 0;
				font-size: 2rem;
			}
		}
	}
	&__text {
		width: 90%;
	}
	&__icons {
		padding: 2rem 0 0 0;
		img {
			margin: 0 0.5rem;
			@media (max-width: 48rem) {
				width: 3.5rem;
				margin: 2rem;
			}
		}
	}
	&__copyright {
		padding: 0 0 3rem 0;
		font-size: 0.87rem ;
	}
	&__blur {
		background: #6D95FC;
		filter: blur(15.5rem);
		padding: 3rem 0 5rem 0;
	}
}