.header {
	width: 100%;
	background: linear-gradient(270deg, #101010 8.85%, rgba(16, 16, 16, 0) 50%);
	&__container {
		position: relative;
		z-index: 30;
		display: flex;
		align-items: center;
	}
	&__logo {
		flex: 0 0 35%;
		display: flex;
		align-items: center;
		img {
			width: 15rem;
			@media (max-width: 28rem) {
				width: 10rem;
			}
		}
	}
	&__menu {
		flex: 1 1 auto;
		@media (max-width: 69rem) {
			justify-content: end;
		}
	}
	& [href] {
		transition: all 0.2s ease-out;
	}
}
.menu {
	display: flex;
	&__list {
		flex: 1 1 auto;
		display: flex;
		justify-content: space-between;
		@media (max-width: 69rem) {
			display: none;
			&.active {
				display: flex;
				position: fixed;
				z-index: 20;
				top: 8.25rem;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: #101010;
				overflow: auto;
				flex-direction: column;
				align-items: center;
				justify-content: start;
				& li {
					margin: 4rem 0 0 0;
					font-size: 2rem;
				}
			}
		}
		@media (max-width: 28rem) {
			&.active {
				top: 5rem;
			}
		}
	}
	&__link {
		margin: 0 1rem 0 0;
		&:last-child {
			margin: 0;
		}
	}
	&__search {
		margin: 0 0 0 6rem;
		flex: 0 0 3rem;
		display: flex;
		flex-direction: column;
		@media (max-width: 28rem) {
			margin: 0 0 0 2rem;
		}
	}
	&__burger {
		display: none;
		@media (max-width: 69rem) {
			display: block;
			position: relative;
			width: 1.875rem;
			height: 1.25rem;
			z-index: 10;
			&:before, &:after {
				content: '';
				background-color: #fff;
				position: absolute;
				width: 100%;
				height: 0.125rem;
				left: 0;
				transition: all 0.3s ease 0s;
			}
			&:before {
				top: 0;
			}
			&:after {
				bottom: 0;
			}
			span {
				background-color: #fff;
				position: absolute;
				width: 100%;
				height: 0.125rem;
				left: 0;
				top: 0.563rem;
				transition: all 0.3s ease 0s;
			}
			&.active:after {
				transform: rotate(-45deg);
				bottom: 0.563rem;
			}
			&.active:before {
				transform: rotate(45deg);
				top: 0.563rem;
			}
			&.active span {
			transform: scale(0);
			}
		}
	}
}
.search {
	display: flex;
	&__img {
		cursor: pointer;
	}
	&__form {
		padding: 1rem;
		display: none;
		&.active {
			display: block;
			position: absolute;
			z-index: 30;
			top: 7rem;
			right: 2rem;
		}
		@media (max-width: 28rem) {
			&.active {
				top: 4rem;
				right: 1rem;
			}
		}
	}
}
.form {
	&__wrap {
		border: 0.188rem solid #fff;
		background-color: #000;
	}
	&__input {
		min-width: 25rem;
		height: 3.2rem;
		background-color: #000;
		color: #fff;
		padding: 0 0.5rem;
		@media (max-width: 28rem) {
			min-width: 17rem;
		}
	}
	&__btn {
		background: #000;
		img {
			padding: 0 0.5rem 0.5rem 0;
		}
	}
}

body.lock {
	overflow: hidden;
}